.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 50%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  justify-content: space-around;
}

.component {
  width: 90%;
}

.buttons-container {
    width: 90%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.buttons-switch {
  display: flex;
}

.login {
  margin-right: 5px;
}