.continer-complaint {
  max-height: 50%;
  max-width: 50%;
  z-index: 1;
  position: fixed;
  top: 25%;
  left: 25%;
  background: wheat;
}

.complaint {
  width: 100%;
  align-self: center;
  text-align: center;
  padding: 0 20px;
}